:root {
  /* index.html colors */
  --deedPage-color1: #4a7073;
  --deedPage-color2: #86d2d2;
  --deedPage-color3: #777777;
  --deedPage-color4: #000000;
  --deedPage-color5: #ffffff;
  /* deedCard added colors */
  --deedPage-color6: #1c4d4d;
  --deedPage-color7: rgb(71, 30, 37);
  --deedPage-color8: rgb(211, 197, 197);
  /* WavyDavy added color (added by WavyDavy) */
  --deedPage-color9: rgb(67, 243, 243);
}
