@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap");

/* font-family: 'Open Sans', sans-serif; */

* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(#86d2d2, #ffffff, #777777);
  background-attachment: fixed;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 80vw;
}

.svgTitleContainer {
  display: flex;
  width: 90%;
  margin: auto;
  /* background: chartreuse; */
}

.svgTitleContainer #titleGroup path {
  fill: transparent;
  stroke: #4a7073;
}

.svgTitleContainer #titleGroup .letters {
  stroke-dasharray: 600;
  stroke-dashoffset: 0;
}

.svgTitleContainer #titleGroup .letters {
  animation: animate-letters 3s linear forwards;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

#showDeedButton {
  background-color: #4a7073;
  color: #ffffff;
  font-size: 1em;
  width: 25vw;
  height: 8vh;
  border: 3px solid #ffffff;
  border-radius: 20px;
  animation: fadein 3s;
}


svg#wavyDavy {
  position: fixed;
  width: 2000px;
  bottom: -440px;
  left: -80px;
  opacity: 30%;
  z-index: -1;
  stroke-width: 2px;
  stroke: rgb(67, 243, 243);
}

#wavyDavyPath {
  animation: waveAnim 40s ease;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* ABOUT SECTION STYLING */

#aboutSectionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#aboutTopSection {
  position: relative;
  top: 4.5em;
  width: 90vw;
  padding: 2%;
  background-color: var(--deedPage-color1);
  border: 5px solid white;
  border-radius: 25px;
  opacity: 80%;
  color: var(--deedPage-color5);
  text-align: center;
  line-height: 3em;
  overflow: hidden;
}
#missionTitle {
  font-size: 32px;
  overflow: hidden;
  background-image: linear-gradient(0deg, var(--deedPage-color5), var(--deedPage-color2), var(--deedPage-color5));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--deedPage-color4);
}

#aboutHeading {
  font-size: 32px;
  overflow: hidden;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--deedPage-color4);
}

#workOnThis {
  overflow: hidden;
  font-style: italic;
  font-size: 25px;
  height: 60px;
  background-image: linear-gradient(0deg, var(--deedPage-color5), var(--deedPage-color1), var(--deedPage-color5));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--deedPage-color9);
}

#aboutHeading {
  background-image: linear-gradient(0deg, var(--deedPage-color5), var(--deedPage-color2), var(--deedPage-color5));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#howItWorks {
  background-image: linear-gradient(0deg, var(--deedPage-color5), var(--deedPage-color2), var(--deedPage-color5));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--deedPage-color4);
  font-size: 32px;
  overflow: hidden;
}

a {
  color: var(--deedPage-color5);
}

#aboutMiddleSection {
  position: relative;
  top: 10%;
  padding-top: 10px;
}

#aboutMiddleSection h1 {
  font-size: 40px;
  background-image: linear-gradient(0deg, var(--deedPage-color5), var(--deedPage-color2), var(--deedPage-color5));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--deedPage-color1); 
}


/* This slides up under/over the aboutMiddleSection and MEET THE TEAM title. Probably an easy fix but I can't figure it out. Remember this is mobile styling here. It's not an issue on larger devices.*/
div#aboutBottomSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap-reverse;
  position: relative;
  width: 100%;
  /* overflow: hidden; */
}

#daveCard {
  display: flex;
  position: relative;
  top: 4%;
  display: inline-block;
  margin: auto;
  margin-bottom: 2%;
  width: 90%;
  min-height: 800px;
  border: 5px solid var(--deedPage-color5);
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.8);
  /* overflow: hidden; */
}

#daveCardTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  border-bottom: 5px solid white;
  /* Added the below so Meet Our Team is hidden on scroll on mobile responsiveness. Delete if issue with cards scrolling over "Meet The Team is fixed. */
  background-color: rgba(255, 255, 255, 1);
}

#daveCardMiddle {
  text-align: center;
  line-height: 2;
}

#daveCardBottom {
  background-color: transparent;
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  padding-top: 10px;
}

#dcCard {
  display: flex;
  position: relative;
  top: 4%;
  display: inline-block;
  margin: auto;
  margin-bottom: 2%;
  width: 90%;
  min-height: 800px;
  border: 5px solid var(--deedPage-color5);
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.8);
}

#dcCardMiddle {
  text-align: center;
  line-height: 2;
}

#dcCardTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  border-bottom: 5px solid white;
  /* Added the below so Meet Our Team is hidden on scroll on #daveCardTop and here so they're all alike on mobile responsiveness Delete if issue with cards scrolling over "Meet The Team is fixed. */
  background-color: rgba(255, 255, 255, 1);
}

#dcCardBottom {
  background-color: transparent;
  height: 100px;
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  padding-top: 10px;
}
#jjCard {
  display: flex;
  position: relative;
  top: 4%;
  display: inline-block;
  margin: auto;
  margin-bottom: 2%;
  width: 90%;
  min-height: 800px;
  border: 5px solid var(--deedPage-color5);
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.8);
}

#jjCardTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  border-bottom: 5px solid white;
   /* Added the below so Meet Our Team is hidden on scroll on #daveCardTop and here so they're all alike on mobile responsiveness Delete if issue with cards scrolling over "Meet The Team is fixed. */
  background-color: rgba(255, 255, 255, 1);
}

#jjCardMiddle {
  text-align: center;
  line-height: 2;
}

#jjCardBottom {
  background-color: transparent;
  height: 100px;
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  padding-top: 10px;
}

#photoDave {
  position: relative;
  width: 55%;
  height: 90%;
  border: 5px solid white;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  opacity: 1;
}
#photoDave:hover {
  border: 5px solid var(--deedPage-color2);
}

#photoDC {
  position: relative;
  width: 55%;
  height: 90%;
  border: 5px solid white;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
#photoDC:hover {
  border: 5px solid var(--deedPage-color2);
}
#photoJJ {
  position: relative;
  width: 55%;
  height: 90%;
  border: 5px solid white;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
#photoJJ:hover {
  border: 5px solid var(--deedPage-color2);
}
#mailButton {
  outline: 0;
  border-radius: 25px;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:var(--deedPage-color1) ;
  text-align: center;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  border: 4px solid var(--deedPage-color5);
  position: relative;
  bottom: 5%;
}
#mailButton:hover {
  background-color: #555;
  border: 4px solid var(--deedPage-color2)
}

/* Footer Styling */
#copy{
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  color: rgb(71, 30, 37);
}
#copy a {
  cursor: pointer;
  color: rgb(71, 30, 37);
}

@media screen and (min-device-width: 360px) and (max-device-width: 925px) {
  #showDeedButton {
    font-size: 0.50em;
}

}
@media (min-width: 568px) and (orientation: landscape){
  #aboutTopSection {
    width: 85vw;
  }
  #missionTitle {
    font-size: 40px;
  }
  #aboutHeading {
    font-size: 40px;
  }
  #workOnThis {
    font-size: 32px;
  }
  #howItWorks {
    font-size: 40px;
  }
  #aboutMiddleSection {
    top: 20%;
    padding-top: 10px;
  }
  #daveCard {
    width: 65%;
    min-height: 700px;
  }
  #dcCard {
    width: 65%;
    min-height: 700px;
  }
  #jjCard {
    width: 65%;
    min-height: 700px;
  }

}
/* NOTE: the above media queries were just for mobile devices landscape orientation, so most needed to be repeated below */
@media (min-width: 767px){
  #aboutTopSection {
    width: 80vw;
  }
  #missionTitle {
    font-size: 50px;
  }
  #aboutHeading {
    font-size: 50px;
  }
  #workOnThis {
    font-size: 50px;
    background-image: linear-gradient(0deg, var(--deedPage-color5), var(--deedPage-color2), var(--deedPage-color5));
    -webkit-text-stroke-color: var(--deedPage-color4);
    }
  #howItWorks {
    font-size: 50px;
  }
  #aboutMiddleSection {
    top: 20%;
  }
  #aboutMiddleSection h1 {
    font-size: 70px;
  }
  div#aboutBottomSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    top: 20%;
    width: 100%;
  }
  #daveCard {
    width: 45%;
    min-height: 750px;
  }
  #dcCard {
    width: 45%;
    min-height: 750px;
  }
  #jjCard {
    width: 45%;
    min-height: 750px;
  } 
}
@media (min-width: 992px){
  #aboutTopSection {
    padding: 20px 50px;
  }
  #aboutMiddleSection {
    top: 20%;
    padding-top: unset;
  }
  #aboutMiddleSection h1 {
    font-size: 90px;
  }

  #daveCard {
    width: 40%;
    min-height: 700px;
  }
  #dcCard {
    width: 40%;
    min-height: 700px;
  }
  #jjCard {
    width: 40%;
    min-height: 700px;
  }
  #daveCardTop {
    background-color: rgba(255, 255, 255, .2);
  }
  #dcCardTop {
    background-color: rgba(255, 255, 255, .2);
  }
  #jjCardTop {
    background-color: rgba(255, 255, 255, .2);
  }
}
@media (min-width: 1200px){
  #aboutTopSection {
    padding: 40px 70px;
  }
  #daveCard {
    width: 30%;
    height: 800px;
  }
  #dcCard {
    width: 30%;
    height: 800px;
  }
  #jjCard {
    width: 30%;
    height: 800px;
  }
}